%p.in-gold-500.font-18.mb-25= t '.password'
= simple_form_for user,
        url: { action: 'change_password' }, method: :patch,
        class: 'general-form-md divider-lg-bottom pb-25',
        defaults: { label_html: { class: 'control-label input-label' } } do |f|
  = f.input :current_password, label: t('.old_password'),
            placeholder: t('.old_password')
  = f.input :password, label: t('.new_password'),
            placeholder: t('.new_password')
  = f.input :password_confirmation, label: t('.confirm_password'),
            placeholder: t('.confirm_password')
  %br
  = f.button :submit, t('settings.edit.save'), class: 'btn mb-10' #disabled



-# %form.general-form-md.divider-lg-bottom.pb-25
-#   .form-group.mb-30
-#     %label.control-label.input-label{for: "oldPassword"} Old Password
-#     %input#oldPassword.form-control{name:"password", type: "password", placeholder: "Old Password"}
-#   .form-group.mb-30
-#     %label.control-label.input-label{for: "password"} New Password
-#     %input#password.form-control{name:"password", type: "password", placeholder: "New Password"}
-#   .form-group.mb-40
-#     %label.control-label.input-label{for: "confirmPassword"} Confirm Password
-#     %input#confirmPassword.form-control{name:"password", type: "password", placeholder: "Confirm Password"}
-#   .general-text-align
-#     %button.btn.disabled.mb-10 Save



-# %p.in-gold-500.font-18.mb-25 Password
-# %form.general-form-md.divider-lg-bottom.pb-25
-#   .form-group.mb-30
-#     %label.control-label.input-label{for: "oldPassword"} Old Password
-#     %input#oldPassword.form-control{name:"password", type: "password", placeholder: "Old Password"}
-#   .form-group.mb-30
-#     %label.control-label.input-label{for: "password"} New Password
-#     %input#password.form-control{name:"password", type: "password", placeholder: "New Password"}
-#   .form-group.mb-40
-#     %label.control-label.input-label{for: "confirmPassword"} Confirm Password
-#     %input#confirmPassword.form-control{name:"password", type: "password", placeholder: "Confirm Password"}
-#   .general-text-align
-#     %button.btn.disabled.mb-10 Save
