%tr{id: "line-item-#{line_item.id}"}
  %td
    .general-img-wrap-table
      = image_tag line_item.book.image_url, alt: "design-book",
                  class: 'cart-img-shadow pull-left'
      -# %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  %td
    %p.title= line_item.book.title
  %td
    %span.font-16.in-gold-500= number_to_currency(line_item.book.price)
  %td
    .input-group
      = form_for line_item, id: "form-line-item-#{line_item.id}", remote: true do |f|
        = link_to '', class: 'input-link',
                  onclick: "decrementQuantity(); return false;" do
          %i.fa.fa-minus.line-height-40
        = f.text_field :quantity, class: 'form-control quantity-input',
                        id: "input-line-item-#{line_item.id}",
                        onchange: "updateQuantity(#{line_item.id})"
        -# %input.form-control.quantity-input{name: 'quantity', type: "text",
        -#                                   value: "#{line_item.quantity}"}
        = link_to '', class: 'input-link',
                  onclick: "incrementQuantity(); return false;" do
          %i.fa.fa-plus.line-height-40
        = f.submit '', id: "update-line-item-#{line_item.id}", hidden: true

      -# %a.input-link{href: "#"}
      -#   %i.fa.fa-minus.line-heaght-40
      -# %input.form-control.quantity-input{type: "text", value: "#{line_item.quantity}"}
      -# %a.input-link{href: "#"}
      -#   %i.fa.fa-plus.line-heaght-40

  %td
    %span.font-16.in-gold-500{id: "subtotal-#{line_item.id}"}
      = line_item.decorate.subtotal_decorated
  %td
    = button_to line_item_path(line_item), method: :delete, type: "button",
                class: "close general-cart-close", 'aria-label': "Close" do
      %span{'aria-hidden': "true"} &times;
    -# %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
    -#   %span{'aria-hidden': "true"} &times;


-# %tr
-#   %td
-#     .general-img-wrap-table
-#       %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
-#   %td
-#     %p.title Android Programming for Beginners
-#   %td
-#     %span.font-16.in-gold-500 €28.50
-#   %td
-#     .input-group
-#       %a.input-link{href: "#"}
-#         %i.fa.fa-minus.line-heaght-40
-#       %input.form-control.quantity-input{type: "text"}
-#       %a.input-link{href: "#"}
-#         %i.fa.fa-plus.line-heaght-40
-#   %td
-#     %span.font-16.in-gold-500 €32.90
-#   %td
-#     %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
-#       %span{'aria-hidden': "true"} &times;
-# %tr
-#   %td
-#     .general-img-wrap-table
-#       %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
-#   %td
-#     %p.title Android Programming for Beginners
-#   %td
-#     %span.font-16.in-gold-500 €28.50
-#   %td
-#     .input-group
-#       %a.input-link{href: "#"}
-#         %i.fa.fa-minus.line-heaght-40
-#       %input.form-control.quantity-input{type: "text"}
-#       %a.input-link{href: "#"}
-#         %i.fa.fa-plus.line-heaght-40
-#   %td
-#     %span.font-16.in-gold-500 €32.90
-#   %td
-#     %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
-#       %span{'aria-hidden': "true"} &times;
